@import "../styles/Utilities.scss";

.about {
    // height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.top {
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        >.left {
            height: 100%;
            width: 50%;

            img {
                height: 100%;
                width: 100%;
                display: block;
                margin: auto;
            }
        }

        .right {
            height: 100%;
            width: 50%;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: $secondary-color;

            img {
                height: 100px;
                width: 100px;
            }

            h2 {
                text-transform: uppercase;
                color: $secondary-color;

                span {
                    color: $primary-color;
                }
            }

            p {
                font-size: 15px;
                text-align: justify;
                width: 90%;
            }

            ul li {
                font-size: 15px;
                list-style-type: decimal;
            }
        }
    }

    >.center {
        height: 50vh;
        width: 100%;
        background: url("../assets/apc.jpg") no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: $primary-color;
        }
    }

    >.bottom {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .msg {
            height: 80%;
            width: 80%;
            padding: 1rem;
            text-align: center;
            line-height: 2.5rem;
            background: rgb(224, 224, 224);

            h3 {
                text-transform: uppercase;
                padding: .5rem;
                background-color: $primary-color;
                height: 25%;
                width: 15%;
                color: #fff;
                margin: auto;
            }

            h2 {
                margin-top: 1rem;
                text-transform: uppercase;

                span {
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.top {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >.left {
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                    margin: auto;
                }
            }

            >.right {
                height: 100%;
                width: 100%;
                padding: 1rem;

                ul {
                    margin-top: 1rem;
                }
            }
        }

        >.center {
            height: 50vh;
            width: 100%;
            background: url("../assets/apc.jpg") no-repeat center center/cover;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        >.bottom {
            height: 60vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .msg {
                height: 80%;
                width: 85%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                line-height: 2rem;
                background: rgb(224, 224, 224);
                font-size: 15px;

                h3 {
                    text-transform: uppercase;
                    padding: .5rem;
                    margin: 0 auto;
                    background-color: $primary-color;
                    height: 15%;
                    width: 55%;
                    color: #fff;
                }

                h2 {

                    text-transform: uppercase;

                    span {
                        color: $primary-color;
                    }
                }

                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .bottom {

        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .msg {
            height: 100%;
            width: 90%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            line-height: 2rem;
            background: rgb(224, 224, 224);
            font-size: 15px;

            h3 {
                text-transform: uppercase;
                padding: .5rem;
                margin: 0 auto;
                background-color: $primary-color;
                height: 15%;
                width: 60%;
                color: #fff;
            }

            h2 {

                text-transform: uppercase;

                span {
                    color: $primary-color;
                }
            }

            p {
                text-align: justify;
            }
        }
    }
}