@import "Utilities.scss";

.header {
    height: 30vh;
    width: 100%;
    // border: 2px solid #333;
    box-shadow: 3px 5px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    position: sticky;
    top: 0;
    z-index: 1;
    // padding: 1rem;

    >.main-header {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        >.logo img {
            height: 100px;
            width: 100px;
        }

        >.headings {
            display: flex;
            flex-direction: column;
            justify-tracks: center;
            align-items: center;
            text-decoration: none;

            h1 {
                text-transform: uppercase;

                span {
                    color: $primary-color;
                }
            }

            >p {
                text-align: center;
            }
        }
    }

    >nav {
        height: auto;
        width: 100%;
        background-color: $secondary-color;

        >ul {
            display: flex;
            padding: .5rem;
            justify-content: space-around;
            align-items: center;

            >li {
                color: #fff;
                font-weight: 600;
                font-size: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;

                ul {
                    width: 120px;
                    height: 140px;
                    position: absolute;
                    left: 0;
                    top: 150%;
                    background-color: whitesmoke;
                    border-radius: 3px;
                    transform: scaleY(0);
                    transition: all .3s ease-in;
                    transform-origin: top;

                    li .link {
                        color: #333;
                        border: none;
                        // padding: 5px;
                        margin: 3px 0;
                        padding: 5px 0;
                        width: 100%;

                        &:hover {
                            background-color: $primary-color;
                            color: #fff;
                            border: none;

                        }
                    }

                }

                svg {
                    height: 1.3rem;
                    width: 1.3rem;
                }

                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }

                &:hover ul {
                    transform: scaleY(1);
                }
            }

            >li .link {
                color: #fff;
                font-weight: 600;
                font-size: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                svg {
                    color: $tertiary-color;
                    height: 1.3rem;
                    width: 1.3rem;
                }

                &:hover {
                    border-bottom: 1px solid $tertiary-color;
                    color: $primary-color;
                    border-radius: 3px 3px 3px 3px;
                }

            }

            li .active {
                color: #FE0E0F;
                border-bottom: 2px solid $tertiary-color;
                border-radius: 3px 3px 3px 3px;
            }
        }
    }
}

@media (max-width: 450px) {
    .header {
        height: 25vh;
        width: 100%;

        >.main-header {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo img {
                // margin: 5px 0;
                height: 70px;
                width: 70px;
            }

            .headings {
                display: flex;
                flex-direction: column;
                justify-tracks: center;
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }

    nav {
        height: 100%;
        width: 100%;  
    }
}

@media (max-width: 400px) {
    .header {
        height: 25vh;
        width: 100%;

        >.main-header {
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo img {
                // margin: 5px 0;
                height: 70px;
                width: 70px;
            }

            .headings {
                display: flex;
                flex-direction: column;
                justify-tracks: center;
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }

    nav {
        height: 100%;
        width: 100%;  
    }
}