$primary-color: #aa1e23;
$secondary-color: #3f444a;
$tertiary-color: white;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

